# Auto detect text files and perform LF normalization
* text=auto
*.AppxBundle filter=lfs diff=lfs merge=lfs -text
*.Appx filter=lfs diff=lfs merge=lfs -text
*.Appx* filter=lfs diff=lfs merge=lfs -text
